/* BG color: #fff261 */

.viz-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
h3{
    text-align: center;
}
*{
    text-align: center;
}

body {
    /* background-color: #fff261; */
    background: #Fff url(./../img/pattern.png) repeat;
}

.object {
    margin: auto;
}

.display-1{
    color: #ddb4e0;
}