.viz-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
h3{
    text-align: center;
}
*{
    text-align: center;
}

/* body { */
    /* background-color: #fff261; */
    /* background: #Fff url(./../img/pattern.png) repeat; */
/* } */

.object {
    margin: auto;
}

.display-1{
    color: #ddb4e0;
}

.btn{
    background-color: #ddb4e0;
    border-color: #b17db5;
}
.btn:hover{
    background-color: #b17db5;
    border-color: #ddb4e0;
}

a{
    text-decoration: none;
    color: #b17db5;
}
a:hover{
    text-decoration: underline;
    color: #b17db5;
}

.viz-container{
    height: 750px;
    /* width: 700px;  */
}