{% extends "viz-template.html" %}
<!-- PLEASE LOOK AT viz-template.html TO UNDERSTAND WHAT IS HAPPENING -->
{% block title %}Global University Heatmap{% endblock %}
{% block scriptPath %}{% endblock %}
{% block body %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="./static/js/datamaps.world.min.js"></script>
    <script src="https://res.cloudinary.com/geotargetly/raw/upload/v1579830286/data/iso_3166_country_codes.json"></script>
    {{ super() }}
    {% block controls %}
        <button class="btn btn-dark" onClick="render()">Render</button>
    {% endblock %}
    <script>
        console.log(data.happinessUni);
        var rendered = 0;
        const dataToRender = {};
        const processData = fetch("https://res.cloudinary.com/geotargetly/raw/upload/v1579830286/data/iso_3166_country_codes.json")
        .then(res => {
            return res.json();
        }).then(jsonCountryCodes => {
            console.log(jsonCountryCodes);
            return data.happinessUni.filter((obj, i) => {
                return jsonCountryCodes.find((countryElement) => {
                    return countryElement["country_name"] === obj["Country"]
                }) != undefined;
            }).map((obj, i) => {
                let countryCode = jsonCountryCodes.find((countryElement) => {
                    return countryElement["country_name"] === obj["Country"]
                })["alpha_3"];

                let fillKey;
                switch(true){
                    case (obj["uniCount"] < 6):
                        fillKey = "lv1";
                        break;
                    case (obj["uniCount"] < 11):
                        fillKey = "lv2";
                        break;
                    case (obj["uniCount"] < 21):
                        fillKey = "lv3";
                        break;
                    case (obj["uniCount"] < 31):
                        fillKey = "lv4";
                        break;
                    default:
                        fillKey = "lv5";
                        break;
                };
                dataToRender[countryCode] = { "fillKey": fillKey, 
                    "Number of Top Universities": obj["uniCount"] 
                };
            });
        });

        const render = () => {
            if(rendered === 0){
                processData.then(() => {
                    var basic_choropleth = new Datamap({
                        element: document.getElementById("viz"),
                        projection: 'mercator',
                         geographyConfig: {
                            popupTemplate: function (geography, data) {
                                return '<div class="hoverinfo"><b>' + geography.properties.name + '</b><br/>Number of Top Universities: ' +  data["Number of Top Universities"] + ' '
                            },
                        },
                        fills: {
                            defaultFill: "#ccc",
                            lv5: '#e31a00',
                            lv4: '#e04734',
                            lv3: '#e36252',
                            lv2: '#de7d71',
                            lv1: '#e0b1ab'
                        },
                        data: dataToRender
                    });
                });
                rendered = 1;
            };
        };

</script>
{% endblock %}
{% block vizTitle %}Global University Heatmap{% endblock %}
{% block description %}Heatmap of the 700 Top Globally Ranked Universities, 2016{% endblock %}
