{% extends "new-template.html" %}

{% block title %}world-happiness{% endblock %}

{% block body %}
     <h1 style="margin-top: 0.5em;" class="display-1">Conclusion</h1>

     <br>
     
     <div class="w-50 mx-auto">
          <!-- conclusion -->
          <p class="text-justify">
               Thank you for visiting world-happiness, a project by brimless-yankee. We hope you enjoyed looking at the international data we selected, 
               and were able to answer some of the questions we posed at the beginning for yourselves. If you're at all interested in further researching this
               topic, we highly encourage you to check out the datasets we've linked below (and throughout this website), and look at other collections of data 
               to find other patterns of correlation. Thanks!
          </p>
          <br>
          <a href="https://www.kaggle.com/unsdsn/world-happiness">World Happiness Report (SDSN)</a> <br>
          <a href="https://www.kaggle.com/START-UMD/gtd">Global Terrorism Database (START-UMD)</a> <br>
          <a href="https://www.kaggle.com/gsutters/the-human-freedom-index">Human Freedom Index (Cato Institute)</a> <br>
          <a href="https://data.worldbank.org/indicator/sl.uem.totl.zs">Unemployment statistics (World Bank)</a> <br>
          <a href="https://www.topuniversities.com/university-rankings/world-university-rankings/2016">World University Rankings (QS)</a> <br>
     </div>

{% endblock %}