{% extends "new-template.html" %}

{% block title %}world-happiness{% endblock %}

{% block scripts %}
<script src="./static/js/happiness-rol.js"></script>
{% endblock %}

{% block body %}
<h1 style="margin-top: 0.5em;" class="display-1">Human freedom</h1>
<h3 class="display-5"><i>... and does it relate to happiness?</i></h3>

<br>

<div class="w-50 mx-auto">
     <!-- introduction -->
     <p class="text-justify">
          The <a href="https://www.kaggle.com/gsutters/the-human-freedom-index">Human Freedom Index</a>, created by the Cato Institute, is a
          'global measurement of personal, civil, and economic freedom'. With over 100 indicators to choose from, and data from nearly every country in the world, we at brimless-yankee 
          have handpicked a few indicators we find can be useful. With this visualization, one can compare indicators from the Human Freedom Index and the World Happiness Report. For more
          information, and access to the full set of indicators located within the Human Freedom Index, check out the <a href="https://www.kaggle.com/gsutters/the-human-freedom-index">Kaggle dataset</a>
          or the <a href="https://www.cato.org/human-freedom-index-new">Cato Institute website</a>.
     </p>
     <br>
</div>

<br>
<!-- VIEW INDIVIDUAL SCORES HERE -->
<div class="container">
     <script>
          // next line shows an error in the linter but works perfectly
          var data = {{ data | tojson }};
     </script>

     <h3 class="display-5">Indicators of human freedom vs. happiness score indicators</h3>

     <br>
     <form class="vizSelection" method="">
          <select class="vizForm1" id="vizSelector1" type="text" name="vizDropdown1" placeholder="Select One">
               <option title="Procedural Justice" value="Procedural Justice">Procedural Justice</option>
               <option title="Civil Justice" value="Civil Justice">Civil Justice</option>
               <option title="Criminal Justice" value="Criminal Justice">Criminal Justice</option>
               <option title="Rule of Law" value="Rule of Law">Rule of Law</option>
               <option title="Religious Freedom" value="Religious Freedom">Religious Freedom</option>
               <option title="Freedom of Expression" value="Freedom of Expression">Freedom of Expression</option>
               <option title="Divorce" value="Divorce">Divorce</option>
               <option title="Judicial Independence" value="Judicial Independence">Judicial Independence</option>
               <option title="Human Freedom" value="Human Freedom">Human Freedom</option>
          </select>
          <select class="vizForm2" id="vizSelector2" type="text" name="vizDropdown2" placeholder="Select One">
               <option disabled selected>Select an option</option>
               <option title="Happiness Score" value="Happiness Score">Happiness Score</option>
               <option title="GDP" value="GDP">GDP</option>
               <option title="Health" value="Health">Health</option>
               <option title="Family" value="Family">Family</option>
               <option title="Freedom" value="Freedom">Freedom</option>
               <option title="Generosity" value="Generosity">Generosity</option>
               <option title="Trust in Government" value="Trust in Government">Trust in Government</option>
          </select> <span>&emsp;</span>
          <input type="button" class="btn btn-warning" value="Render visualization" onclick="renderROL()">
     </form>
     <div id="viz" class="viz-container container"></div>
</div>

<div class="w-50 my-5 mx-auto">
     <a href="/unemployment" class="btn btn-warning btn-lg">&rarr; Continue</a>
</div>
{% endblock %}