{% extends "viz-template.html" %}
<!-- PLEASE LOOK AT viz-template.html TO UNDERSTAND WHAT IS HAPPENING -->
{% block title %}Happiness vs. GDP{% endblock %}
{% block scriptPath %}./static/js/happiness-gdp.js{% endblock %}
{% block drop %}
<form class="vizSelection" method="" >
   <select class="vizForm1" id="vizSelector1" type="text" name="vizDropdown1" placeholder="Select One">
        <option type="Happiness Score" value="Happiness.Score">Happiness Score</option>
   </select>
   <select class="vizForm2" id="vizSelector2" type="text" name="vizDropdown2" placeholder="Select One" >
        <option disabled selected>Select an option</option>
        <option type="GDP" value="Economy..GDP.per.Capita.">GDP</option>
        <option type="Health" value="Health..Life.Expectancy.">Health</option>
        <option type="Family" value="Family">Family</option>
        <option type="Freedom" value="Freedom">Freedom</option>
        <option type="Generosity" value="Generosity">Generosity</option>
        <option type="Trust in Government" value="Trust..Government.Corruption.">Trust in Government</option>
   </select>
   <input class="btn" type="button" value="submit" onclick="render()">
</form>
{% endblock %}
<!-- {% block vizTitle %}Happiness score vs. GDP weight in happiness score{% endblock %} -->
<!-- {% block description %}This visualization explores the relationship between the value placed in GDP when deciding how happy one is, and the overall percieved happiness in that country.{% endblock %} -->
<!-- {% block controls %} -->
    <!-- <button class="btn btn-dark" onclick="render()">Render Visualization</button> -->
<!-- {% endblock %} -->
<!-- The div containing the visualization is in viz-template.html -->
