{% extends "viz-template.html" %}
<!-- PLEASE LOOK AT viz-template.html TO UNDERSTAND WHAT IS HAPPENING -->
{% block title %}Happiness Vs. Unemployment{% endblock %}
{% block scriptPath %}./static/js/happiness-unemployment.js{% endblock %}
{% block vizTitle %}Happiness score vs. national unemployment rates (total){% endblock %}
{% block description %}This visualization explores the emphasis between employment status in general perceived happiness.{% endblock %}
{% block controls %}
    <button class="btn btn-dark" onclick="render()">Render Visualization</button>
{% endblock %}
<!-- The div containing the visualization is in viz-template.html -->
<!-- There is no happiness with unemployment :( -->
