{% extends "viz-template.html" %}
<!-- PLEASE LOOK AT viz-template.html TO UNDERSTAND WHAT IS HAPPENING -->
{% block title %}Happiness Vs. ROL{% endblock %}
{% block scriptPath %}./static/js/happiness-rol.js{% endblock %}
{% block vizTitle %}Second Visualization: Happiness Score vs. The Extent To Which ROL contributed to the Calculation of the Happiness Score{% endblock %}
{% block description %}This visualization explores the relationship between the value placed in ROL when deciding how happy one is, and the overall percieved happiness in that country.{% endblock %}
{% block controls %}
    <button onclick="renderROL()">Render Visualization</button>
{% endblock %}
<!-- The div containing the visualization is in viz-template.html -->
