{% extends "viz-template.html" %}
<!-- PLEASE LOOK AT viz-template.html TO UNDERSTAND WHAT IS HAPPENING -->
{% block title %}Happiness vs. Top-Ranked Universities{% endblock %}
{% block scriptPath %}./static/js/happiness-uni.js{% endblock %}
{% block vizTitle %}Happiness score vs. prevalence of top universities within a nation{% endblock %}
{% block description %}This visualization renders a dot for each country represented. The axes represent the number of top universites in the country on the horizontal, and the perceived happiness score on the vertical, for each country represented.{% endblock %}
{% block controls %}
<button class="btn btn-dark" onclick="render()">Render Visualization</button>
{% endblock %}
<!-- The div containing the visualization is in viz-template.html -->
