{% extends "viz-template.html" %}
<!-- PLEASE LOOK AT viz-template.html TO UNDERSTAND WHAT IS HAPPENING -->
{% block title %}Happiness Vs. Unemployment{% endblock %}
{% block scriptPath %}./static/js/happiness-unemployment.js{% endblock %}
{% block vizTitle %}First Visualization: Happiness Score vs. Length at which Unemployment affected Happiness Score{% endblock %}
{% block description %}Visualization which places emphasis between employment status and correlation of happiness in regards to it.{% endblock %}
{% block controls %}
    <button class="btn btn-dark" onclick="render()">Render Visualization</button>
{% endblock %}
<!-- The div containing the visualization is in viz-template.html -->
<!-- There is no happiness with unemployment :( -->
