<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>world happiness</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="homepage">
    <div class="my-5">
            <h1 style="margin-top: 1.25em;" class="display-1">world-happiness</h1>
            <h3 class="display-5">by brimless-yankee</h3>
            <br>
            <div class="w-50 mx-auto">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id erat consequat, posuere nisl nec, condimentum urna.
                    Donec quis malesuada tortor, ac bibendum augue. Vivamus ullamcorper, urna vel iaculis tempus, urna diam dictum ante, sed
                    hendrerit ipsum lectus ut metus. Aenean pulvinar, dolor a mollis vehicula, ex enim placerat erat, eget tristique justo
                    purus a magna.
                </p>
            </div>
            <br>
            <!-- explanation of happiness score -->
            <a href="/happiness" class="btn btn-light btn-lg">&rarr; Go</a>
    </div>
</body>
</html>
