<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>world-happiness</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="homepage">
    <div class="my-5">
            <h1 style="margin-top: 1.25em;" class="display-1">world-happiness</h1>
            <h3 class="display-5">by brimless-yankee</h3>
            <br>
            <div class="w-50 mx-auto">
                <p class="text-center">
                    <!-- introduction to project -->
                    What is 'happiness'? What conditions can affect people's levels of happiness on a national scale? How does happiness
                    correlate to other national socioeconomic indicators? Answering these questions was the objective of our project, world-happiness,
                    which aims to look for patterns relating national 'happiness' levels with a number of other indicators and sets of data&mdash;including
                    concentration of terrorist incidents within a country, trust in government, GDP per capita, health and family status, and so on. We hope 
                    that by taking a look at these visualizations and seeing the patterns this data creates, you are able to come to your own conclusions about
                    what may affect happiness levels around the world, and be inspired to do some further research.
                </p>
            </div>
            <br>
            <!-- linkto: breakdown of world happiness dataset -->
            <a href="/happiness" class="btn btn-light btn-lg">&rarr; Go</a>
    </div>
</body>
</html>
