{% extends "viz-template.html" %}
<!-- PLEASE LOOK AT viz-template.html TO UNDERSTAND WHAT IS HAPPENING -->
{% block title %}Global Terrorism Heatmap{% endblock %}
{% block scriptPath %}{% endblock %}
{% block body %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="./static/js/datamaps.world.min.js"></script>
    <script src="https://res.cloudinary.com/geotargetly/raw/upload/v1579830286/data/iso_3166_country_codes.json"></script>
    {{ super() }}

    <script>
        console.log(data.happinessTerrorism);
        var rendered = 0;
        const dataToRender = {};
        const processData = fetch("https://res.cloudinary.com/geotargetly/raw/upload/v1579830286/data/iso_3166_country_codes.json")
        .then(res => {
            return res.json();
        }).then(jsonCountryCodes => {
            console.log(jsonCountryCodes);
            return data.happinessTerrorism.filter((obj, i) => {
                return jsonCountryCodes.find((countryElement) => {
                    return countryElement["country_name"] === obj["Country"]
                }) != undefined;
            }).map((obj, i) => {
                let countryCode = jsonCountryCodes.find((countryElement) => {
                    return countryElement["country_name"] === obj["Country"]
                })["alpha_3"];

                let fillKey;
                switch(true){
                    case (obj["terrorIncidents"] < 11):
                        fillKey = "lv1";
                        break;
                    case (obj["terrorIncidents"] < 101):
                        fillKey = "lv2";
                        break;
                    case (obj["terrorIncidents"] < 501):
                        fillKey = "lv3";
                        break;
                    case (obj["terrorIncidents"] < 1001):
                        fillKey = "lv4";
                        break;
                    default:
                        fillKey = "lv5";
                        break;
/*
                    case (obj["terrorIncidents"] < 1001):
                        fillKey = "lv1";
                        break;
                    case (obj["terrorIncidents"] < 2001):
                        fillKey = "lv2";
                        break;
                    case (obj["terrorIncidents"] < 3001):
                        fillKey = "lv3";
                        break;
                    case (obj["terrorIncidents"] < 4001):
                        fillKey = "lv4";
                        break;
                    default:
                        fillKey = "lv5";
                        break;
*/
                };
                // let toReturn = {};
                dataToRender[countryCode] = { "fillKey": fillKey, 
                    "Number of Incidents": obj["terrorIncidents"] 
                };
                // return toReturn;
            });
        });

        // var reds = d3.scaleOrdinal(d3.schemeReds[5]);
        const render = () => {
            if(rendered === 0){
                processData.then(() => {
                    var basic_choropleth = new Datamap({
                        element: document.getElementById("viz"),
                        projection: 'mercator',
                         geographyConfig: {
                            popupTemplate: function (geography, data) {
                                return '<div class="hoverinfo"><b>' + geography.properties.name + '</b><br/>Number of Terrorist Incidents: ' +  data["Number of Incidents"] + ' '
                            },
                            // highlightBorderWidth: 3
                        },
                        fills: {
                            defaultFill: "#ccc",
                            lv5: '#e31a00',
                            lv4: '#e04734',
                            lv3: '#e36252',
                            lv2: '#de7d71',
                            lv1: '#e0b1ab'
                        },
                        data: dataToRender
                    });
                });
                rendered = 1;
            };
        };

</script>
{% endblock %}
{% block vizTitle %}Global Terrorism Heatmap{% endblock %}
{% block description %}Heatmap of Terrorist Incidents, 2017{% endblock %}
<!-- {% block controls %}
<button class="btn btn-dark" onclick="render()">Render Visualization</button>
{% endblock %} -->
<!-- The div containing the visualization is in viz-template.html -->