{% extends "new-template.html" %}

{% block title %}world-happiness{% endblock %}

{% block scripts %}{% endblock %}

{% block body %}
     <script>
          // next line shows an error in the linter but works perfectly
          var data = {{ data | tojson }};
     </script>

     <h1 style="margin-top: 0.5em;" class="display-1">Terrorism</h1>
     <h3 class="display-5"><i>... and how does it relate to happiness?</i></h3>
     
     <br>

     <div class="w-50 mx-auto">
          <!-- introduction -->
          <p class="text-justify">
               The <a href="https://www.kaggle.com/START-UMD/gtd">Global Terrorism Database</a>, from START (the National Consortium
               for the Study of Terrorism and Responses to Terrorism) at the University of Maryland, College Park
               contains information on over 180,000 terrorist attacks from around the world, going all the way back to 1970. We decided
               to use this dataset to analyze all terrorist attacks in a particular year (2016), to see if the
               concentration of terrorist incidents in a nation correlated to the happiness score within that same nation and year.

               Our project includes two visualizations for the terrorism data: a geographical heatmap depicting concentration of terrorist
               incidents within a nation, and a scatterplot comparing concentration of terrorist incidents to indicators from the WHR.
          </p>
          <br>
     </div>

     <!-- GEOGRAPHICAL HEATMAP OF TERRORIST INCIDENTS -->
     <h3 class="display-5">Geographical heatmap, concentration of terrorist incidents</h3>
     <br>

     <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
     <script src="./static/js/datamaps.world.min.js"></script>
     <script src="https://res.cloudinary.com/geotargetly/raw/upload/v1579830286/data/iso_3166_country_codes.json"></script>

     {{ super() }}
     <div id="viz" class="viz-container container"></div>

     <script>
          var rendered = 0;
          const dataToRender = {};
          const processData = fetch("https://res.cloudinary.com/geotargetly/raw/upload/v1579830286/data/iso_3166_country_codes.json")
               .then(res => {
                    return res.json();
               }).then(jsonCountryCodes => {
                    return data.happinessTerrorism.filter((obj, i) => {
                         return jsonCountryCodes.find((countryElement) => {
                              return countryElement["country_name"] === obj["Country"]
                         }) != undefined;
                    }).map((obj, i) => {
                         let countryCode = jsonCountryCodes.find((countryElement) => {
                              return countryElement["country_name"] === obj["Country"]
                         })["alpha_3"];

                         let fillKey;
                         switch (true) {
                              case (obj["Terror Incidents"] < 11):
                                   fillKey = "lv1";
                                   break;
                              case (obj["Terror Incidents"] < 101):
                                   fillKey = "lv2";
                                   break;
                              case (obj["Terror Incidents"] < 501):
                                   fillKey = "lv3";
                                   break;
                              case (obj["Terror Incidents"] < 1001):
                                   fillKey = "lv4";
                                   break;
                              default:
                                   fillKey = "lv5";
                                   break;
                         };
                         dataToRender[countryCode] = {
                              "fillKey": fillKey,
                              "Number of Incidents": obj["Terror Incidents"]
                         };
                    });
               });

          const render = () => {
               if (rendered === 0) {
                    processData.then(() => {
                         var basic_choropleth = new Datamap({
                              element: document.getElementById("viz"),
                              projection: 'mercator',
                              geographyConfig: {
                                   popupTemplate: function (geography, data) {
                                        return '<div class="hoverinfo"><b>' + geography.properties.name + '</b><br/>Number of Terrorist Incidents: ' + data["Number of Incidents"] + ' '
                                   },
                              },
                              fills: {
                                   defaultFill: "#ccc",
                                   lv5: '#e31a00',
                                   lv4: '#e04734',
                                   lv3: '#e36252',
                                   lv2: '#de7d71',
                                   lv1: '#e0b1ab'
                              },
                              data: dataToRender
                         });
                    });
                    rendered = 1;
               };
          };
          window.onload = render();
     </script>

     <br>

     <div class="w-50 my-5 mx-auto">
          <a href="/terrorism2" class="btn btn-warning btn-lg">&rarr; Continue</a>
     </div>

{% endblock %}