<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/viz-page-styles.css" />
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="{% block scriptPath %}./static/js/app.js{% endblock %}"></script>
    <title>{% block title %}{% endblock %} - Data Visualization</title>
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block body %}
        <script>
            // next line shows an error in the linter but works perfectly
            var data = {{ data | tojson }};
        </script>

        <br>
        <a href="/">back to home</a>
        <h1 id="title" class="viz-title">{% block vizTitle %}{% endblock %}</h1> <br>
        {% block controls %}{% endblock %}
        <div id="viz" class="viz-container"></div>
        
        <div id="description">{% block description %}This is a visualization{% endblock %}</div>
        <div id="footer">
            {% block footer %}
            <hr>
            &copy; 2020, brimless-yankee :: Ahmed Sultan, Joseph Yusufov, Vishwaa Sofat and Nahi Khan
            {% endblock %}
        </div>
        {% endblock %}
    </div>
</body>
</html>